.dashboard-container {
  /* background-color: aqua; */
  height: 100vh;
}

.video-background {
  /* position: relative; */
  width: 100%;
  height: 100vh; 
  /* overflow: hidden;
  position: sticky; 
  top: 0; 
  left: 0;  */
  min-width: 100%;
  min-height: 100%; 
  /* object-fit: cover;  */
  z-index: -1;
}

.video-background video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  object-fit: fill;
}

.dashboard-overlay{
  position: absolute;
  /* background-color: rgba(0, 0, 255, 0.188); */
  width: 97vw;
  left: 1.5vw;
  height: 82vh;
  top: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: space-between;
}

.quick-menu{
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px 20px 0px 20px;
  gap: 20px;
  width: 15vw;
  height: 82vh;
  background-color:  rgba(0, 0, 0, 0.673);;
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  /* border-radius: 30px;  */
  border-start-start-radius: 30px;
  border-bottom-left-radius: 30px;
  color: rgb(0, 0, 0);
  font-weight: 900;
}

.menu-div{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  padding: 10px;
  width: 100%;;
  gap: 20px;
  background-color:  rgba(255, 255, 255, 0.653);;
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  border-radius: 30px; 
}

.menu-overview{
  display: flex;
  width: 81vw;
  height: 82vh;
  background-color: rgb(255, 255, 255);
  background-color:  rgba(250, 250, 250, 0.2);;
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  /* border-radius: 30px;  */
  border-start-end-radius: 30px;
  border-bottom-right-radius: 30px;
}

.selected{
  border-right: 5px solid #e95c25;
  border-left: 5px solid #007cc8;
  background-color: rgb(255, 255, 255);
}