:root {
  --discord-bg: #404EED;
  --pill-bg: rgba(250, 250, 250, 0.1);
  --text-white: #ffffff;
  --font-main: 'gg sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100vw;
  top: 20px;
  padding-left: 20px ;
  padding-right: 20px;
  height: 70px; 
  z-index: 100;
  font-family: var(--font-main);
  pointer-events: none; 
}

.nav-pill {
  background-color: var(--pill-bg);
  backdrop-filter: blur(8px); 
  -webkit-backdrop-filter: blur(8px);
  border-radius: 50px; 
  padding: 0 25px;
  height: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  z-index: 100;
  pointer-events: auto; 
}

.logo-pill {
  gap: 15px; 
}

.logo-text {
  color: var(--text-white);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.85rem;
  line-height: 1.1;
  letter-spacing: 1px;
  text-align: center;
}

.arrow::after{
  content: ">";
  color: yellow;
  display: inline-block;
  transform: translateX(2px) rotate(90deg);
  transition: all 0.2s ease-out;
}
.nav-item-group:hover .arrow::after{
  transform: translateX(2px) rotate(90deg) scale(1.2);
}

.logo-text strong {
  font-weight: 900;
  font-size: 1rem;
}

.logo-icon {
  width: 50px;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 30px;
  height: 100%;
  align-items: center;
}

.nav-item {
  color: var(--text-white);
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  padding: 10px 0; 
  position: relative;
  transition: color 0.2s;
  z-index: 100;
}

.nav-item:hover {
  color: red;
}

.nav-item-group {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.dropdown-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px; 
  z-index: 102;
}

.nav-item-group:hover .dropdown-wrapper {
  display: block;
  animation: fadeSlideUp 0.2s ease-out;
}


.dropdown-menu {
  background-color: #ffffff32;
  border-radius: 15px;
  padding: 24px;
  width: 250px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  color: #000;
  position: relative;
}

.dropdown-content {
  position: relative;
  min-height: 150px;
}

.link-list h4 {
  color: rgb(68, 68, 196);
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: 800;
}

.link-list a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 15px;
}

.link-list a:hover {
  color: red;
}


.floating-icon-container {
  position: absolute;
  bottom: -70px;
  right: -70px;
  pointer-events: none;
}

.float-icon {
  width: 170px;
  height: auto;
}

@keyframes floatMotion {
  0% { transform: translateY(3px); opacity: 0%; }
  20% { opacity: 20%; }
  30% { opacity: 50%; }
  50% { transform: translateY(-7px); opacity: 100%; } 
  100% { transform: translateY(0px); }
}

.nav-item-group:hover .float-icon {
  animation: floatMotion 1s ease-out alternate;
}

.page-blur-overlay {
  display: none;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 90; 
  pointer-events: none; 
}

.navbar-container:hover .page-blur-overlay {
  display: block;
}


@keyframes fadeSlideUp {
  from { opacity: 0; transform: translate(-50%, 10px); }
  to { opacity: 1; transform: translate(-50%, 0); }
}


@media (max-width: 768px) {
  .menu-pill { display: none; }
}




.auth-pill{
  /* width: 150px; */
  display: flex; 
  justify-content: center; 
  align-items: center;
  
  transition: all 0.3s ease-out;
}

/* .auth-pill:hover{
  width: 200px;

} */

.auth-pill a{
  padding: 0px 20px;;
  color: white;
  text-decoration: none;
}



/* DashHeader CSS */


.auth-pill{
  /* width: 150px; */
  display: flex; 
  justify-content: center; 
  align-items: center;
  overflow: hidden;
  color: white;
  transition: all 0.3s ease-out;
}


.logout-button{
  /* display: none; */
  width: 0px;
  height: 0px;
  overflow: hidden;
  
  transition: width 0.3s ease-out;
}

.auth-pill:hover .logout-button{
  display: block;
  border: 1px solid red;
  border-radius: 40px;
  height: 60px;
  margin-right: -15px;
  padding-top: 20px;
  padding: 20px 10px 0px 10px;
  width:80px;
  
}

.logout-button:hover{
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 0px 10px;
}

.greet-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.welcome-name{
  font-weight: 900;
}



