.video-background {
  /* position: relative; */
  width: 100%;
  height: 100vh; 
  overflow: hidden;
  position: sticky; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%; 
  object-fit: cover; 
  z-index: -1;
}

.video-background video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  height: 100vh;
  object-fit: fill;
}

.features-section{
  height: 100vh;
}

/* .hero-container{
    position: relative;
    height: 100vh;
} */




section {
  position: sticky;
  top: 0; /* Stick to top when scrolling */
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 3rem; */
  color: white;
}

.hero { background: #1abc9c; z-index: 1; }
.features { background: #3498db; z-index: 2; height: 100vh; }
.results { background: #9b59b6; z-index: 3;height: 100vh;  }
.footer { background: #e74c3c; z-index: 4; height: 100vh; }

.hero-contents {
  position: absolute;
  /* background-color: rgba(0, 0, 255, 0.188); */
  width: 95vw;
  height: 80vh;
  top: 15vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: center;
}

.hero-display{
  width: 550px;
  max-width: 90%;
  height: 350px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
.hero-cover{
  width: 50%;
  max-width: 100%;
}

.hero-dash-top{
  height: 35px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: flex;

}

.hero-dash-top-logo{
  width: 35px;

}

.hero-dash-top-logo img{
  width: 30px;
  margin: 2.5px;
}
.hero-dash-top-window{
  align-self: center;
  max-width: 410px;
  min-width: 70%;
  width: 90%;

}
.hero-dash-top-cells{
  justify-items: self-end;
  
  width: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.hero-dash-top-cell1{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(80, 152, 80, 0.623);
}
.hero-dash-top-cell2{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(225, 225, 105, 0.54);
}
.hero-dash-top-cell3{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: rgba(162, 73, 73, 0.718);
}

.hero-dash-main{
  display: flex;
}

.hero-dash-main-left{
  width: 50%;
}

.hero-dash-main-right{
  width: 50%

}

.hero-dash-main-right-top img{
  width: 90%;
  border-radius: 10px;
  margin: 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px rgb(255, 255, 255), 5px 5px 10px rgba(0, 0, 0, 0.549);
}

.hero-dash-main-right-bottom{
  width: 90%;
  height: 50%;
  border-radius: 10px;
  margin: 0px 10px;
  border: 1px solid white;
  box-shadow: 0 0 5px rgb(255, 255, 255), 5px 5px 10px rgba(0, 0, 0, 0.549);
  background-color: rgba(255, 255, 255, 0.253);
  color: black;
  padding: 10px 0 0 10px;
}